*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.loader
{
    background-color: #ffffff;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    animation: chargeur 2.5s;
    animation-fill-mode: forwards;
    transform-origin: top;
}

@keyframes chargeur{

    0%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(0);
    }
}

.spinner
{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: spinner 4s;
}

@keyframes spinner
{
    0%
    {
        transform: rotate(0deg) scale(1);
        border-top-color: #FF79DA;
        border-bottom-color: #99E2D0;
    }

    25%
    {
        border-top-color: #99E2D0;
        border-bottom-color: #9356DC;
    }

    50%
    {
        transform: rotate(360deg) scale(1.15);
        border-top-color: #FF79DA;
        border-bottom-color: #99E2D0;
    }

    75%
    {
        border-top-color: #99E2D0;
        border-bottom-color: #9356DC
    }

    100%
    {
        transform: rotate(720deg) scale(0);
        border-top-color: #FF79DA;
        border-bottom-color: #99E2D0;  
    }
}






/*header*/

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logoMyFood img{
        height: 75%;
        width: 50%;
        margin-left: 27%;
        margin-top: 14px;
    }

    .city
    {
        font-size: larger;
        margin-top: 5%;
        width: 93%;
        text-align: center;
        background-color: #d5d5d5;
        padding: 1rem;
        box-shadow: inset #bdbdbd 3px 3px 5px 5px;
    }


    #cadreColorReservation{
        text-align: center;
        background-color: #f6F6F6;
        padding: 2rem;
        height: 350px;
    }

    h2{
        font-size: x-large;
        margin: 45px 50px 0 30px;
    }

    .découverteRestaurant p{
        font-size: x-large;
    }

    .carteNew
    {
        background-color: #99e2d0;
        font-size: large;
        color: #1a8a68;
        height: 38px;
        width: 22%;
        font-weight: bold;
        position: absolute;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 2rem;
        Right: 2rem;
    }

    .newCarte
    {
        background-color: #99e2d0;
        font-size: large;
        color: #1a8a68;
        height: 38px;
        width: 22%;
        font-weight: bold;
        position: absolute;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 2rem;
        right: 2rem;
    }



    .btnExplorer {
        background:linear-gradient(#9356DC,#FF79DA);
        color: white;
        border-radius: 10rem;
        cursor: pointer;
        font-size: 1.5rem;
        overflow: hidden;
        padding: 1.2rem;
        margin-top: 25px;
        position: relative;
        box-shadow: 4px 4px 2px lightgrey;
        width: 75%;
        margin-left: 7%;

    }

    .btnExplorer:hover
    {
        box-shadow: 4px 4px 2px rgb(121, 119, 119);
        transition: 300ms;
        opacity: 0.8;
    }
 

    /* Section */

    #fonctionChoice
    {
        display: flex;
        flex-wrap: wrap;
    }

    .btnFonction
    {
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
        width: 90%;
        height: 5rem;
        border-radius: 20px;  
        box-shadow: 4px 4px 2px lightgrey;    
        font-size: larger;
        margin: 15px;
    }


    .btnFonction p
    {
        background-color: #9356dc;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        font-size: large;
        color: white;
        text-align: center;
        position: relative;
        right: 11px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }


    .fa-store
    {
        color: #7e7e7e; 
    }

    .btnFonction:hover .fa-store
    {
        color: #9052db;
    }

    .fa-mobile-screen-button
    {
        color: #7e7e7e;
    }

    .btnFonction:hover .fa-mobile-screen-button
    {
        color: #9052db;
    }

    .fa-list
    {
        color: #7e7e7e; 
    }

    .btnFonction:hover .fa-list
    {
        color: #9052db;
    }

    h4
    {
        margin-left: 30px;
    }

    i
    {
        margin-left: 15px;
    }

    /* Les restaurants*/

    .lesRestaurants
    {
        background-color: white;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000002e;
        width: 95%;
        height: 17rem;
        margin-left: 11px;
        margin-bottom: 20px;
        position : relative;
    }

    .lesRestaurants a
    {
        text-decoration: none;
        color: black;
    }
    



    article img
    {
        height: 12rem;
        object-fit: cover;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    article h2
    {
        margin-bottom: 20px;
    }

    #blockRestaurants
    {
        display: flex;
        flex-wrap: wrap;
        background-color: #f6f6f6;
    }

    .alignTitle 
    {
        height: 14%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }

    article p
    {
        margin-top: 5px;
        font-size: large;
    }

    .fa-heart
    {
        font-size: 27px;
        width: 50px;
    }

    .fa-heart:hover
    {
        background: linear-gradient(#9356DC,#FF79DA);
        font-weight: bold;
        background-clip: text;
        -webkit-background-clip: text;
        transition: 1s;
        color: transparent;
    }
    

    /*Footer*/

    footer 
    {
        background-color: #353535;
    }

    footer h5
    {
        font-family: 'Shrikhand', cursive;
        color: white;
        margin-left: 10px;
        padding: 19px;
        font-size: x-large;
    }

    @media all and (max-width: 533px)
{

    ul
    {
        color: white;
        font-size: large;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;
        list-style: none;
    }
}

    .margePhrases
    {
        margin-left: 15px;
    }

    li
    {
        display: flex;
    }

    footer a
    {
        text-decoration: none;
        color: #fff;
    }

    footer p
    {
        margin-left: 14px;
    }

    .margeFoot
    {
        margin-left: 7px;
    }



/*2ème partie média querie */




@media (min-width: 534px) and (max-width: 719px)
{
    /*header*/


    .carteNew
    {
        width: 24%;
        top: 1rem;
    }

    .newCarte
    {
        width: 24%;
    }


    /* Les restaurants*/

    .lesRestaurants
    {
        height: 20rem;
    }


    article img
    {
        height: 15rem;
    }
}



/*3ème partie média querie*/



@media all and (min-width: 720px) 
{
     /*header*/


    .carteNew
    {
        width: 30%;
        top: -1rem;
        Right: 7rem;
    }

    .newCarte
    {
        width: 30%;
        top: -1rem;
        right: 7rem;
    }


    
    /* Section */

    #fonctionChoice
    {
        justify-content: center;
    }

    .btnFonction
    {
        width: 420px;
    }


    .btnFonction p
    {
        width: 33px;
        height: 33px;
    }

   

    /* Les restaurants*/

    .lesRestaurants
    {
        width: 300px;
        height: 20rem;
    }

    

    article img
    {
        height: 15rem;
    }

    #blockRestaurants
    {
        justify-content: space-around;
    }


    

    /*Footer*/



    ul
    {
        display: flex;
        justify-content: space-between;
        margin-right: 8px;
        color: white;
        font-size: large;
        padding: 1.2rem;
        list-style: none;
    }


    li
    {
        margin-right: 45px;
    }

}







