*
{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

.loader
{
    background-color: #ffffff;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    animation: chargeur 2.5s;
    animation-fill-mode: forwards;
    transform-origin: top;
}

@keyframes chargeur{

    0%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(0);
    }
}

.spinner
{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: spinner 4s;
}

@keyframes spinner
{
    0%
    {
        transform: rotate(0deg) scale(1);
        border-top-color: green;
        border-bottom-color: green;
    }

    25%
    {
        border-top-color: blue;
        border-bottom-color: blue;
    }

    50%
    {
        transform: rotate(360deg) scale(1.15);
        border-top-color: #0c3f0f;
        border-bottom-color: #0c3f0f;
    }

    75%
    {
        border-top-color: blue;
        border-bottom-color: blue;
    }

    100%
    {
        transform: rotate(720deg) scale(0);
        border-top-color: green;
        border-bottom-color: green;
    }
}



@media all and (max-width: 799px)
{
   /*header et titre*/
   
    header
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }


    .logoMyFood img
    {
        height: 37px;
        width: 90%;
        padding: 1rem;
    }

    .fa-arrow-left
    {
        font-size: x-large;
        color: black;
    }

    /* La photo de présentation*/

    section img
    {
        width: 100%;
    }

    /* La carte des menus*/

    .solidProgress
    {
        border-bottom: 2px solid #99e2d0 ;
        animation: solidbar 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    }

    @keyframes solidbar
    {
        0%{width: 0%;}
        100%{width: 10%;}
    }


    .absolute
    {
        background-color: #f6f6f6;
        border-radius: 40px;
        margin-top: -56px;
        position: absolute;
        width: 100%;
    }

    
    .absolute h2
    {
        margin-top: 23px;
        margin-left: 5px;
        font-size: xx-large;
        font-family: 'Shrikhand', cursive;
    }

    .heartPlace
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .fa-heart
    {
        font-size: 27px;
        width: 50px;
        margin-top: 20px;
    }

    .fa-heart:hover
    {
        background: linear-gradient(#9356DC,#FF79DA);
        font-weight: bold;
        background-clip: text;
        -webkit-background-clip: text;
        transition: 1s;
        color: transparent;
    }

    article p
    {
        margin-left: 5px;
    }


    strong
    {
        margin-right: 16px;
    }


    .entreeProposition
    {
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        width: 88%;
        padding: 1rem;
        margin-top: 15px;
        margin-left: 11px;
        border-radius: 17px;
        box-shadow: .30rem .30rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        opacity: 0;
    }

    
    .lesEntrees > .entreeProposition:nth-child(1)
    {
        transform: translateY(30px);
        animation: apparition 0.3s 1.6s ease-out forwards;
    }

    .lesEntrees > .entreeProposition:nth-child(2)
    {
        transform: translateY(30px);
        animation: apparition 0.6s 1.6s ease-out forwards;
    }

    .lesEntrees > .entreeProposition:nth-child(3)
    {
        transform: translateY(30px);
        animation: apparition 0.9s 1.6s ease-out forwards;
    }


    aside
    {
        width: 100%;
    }

    aside h4
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    aside p 
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .price
    {

        width: 20%;
    }

    .entreeProposition aside h4
    {
        width: 270px;
    }

    .entreeProposition aside p
    {
        width: 270px;
        margin-left: 0;
    }

    .entreeProposition:hover aside h4
    {
        width: 180px;
    }

    .entreeProposition:hover aside p
    {
        width: 180px;
    }
    

    

    .entreeProposition:hover i
    {
        transform: rotateZ(360deg);
        transition: transform 600ms;
        width: 0;
        display: flex;
    }

    .entreeProposition i
    {
        width: 0;
        display: flex;
    }

    .entreeProposition:hover .transformation
    {
        transition: all 0.4s ease-in-out;
        margin-right: -2rem;
        width: 8%;
    }
    
    .entreeProposition .transformation
    {
        transition: all 0.4s ease-in-out;
    }

    strong
    {
        display: flex;
        flex-direction: row; 
    }


    .transformation
    {
        background-color: #99e2d0;
        padding: 1.8rem;
        margin-right: -50%;
        border-radius: 0 1rem 1rem 0;
        width: 30%;
    }

    

   
    .fa-check
    {
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #99e2d0;
        margin-left: -15px;
        overflow: hidden;
        border-radius: 50%;
        padding: 0.9rem;
        aspect-ratio: 1;    
    }

    
    #laCarte
    {
        margin-top: 40px;
    }

    
    /*boutton commander*/

    .btnExplorer {
        background:linear-gradient(#9356DC,#FF79DA);
        color: white;
        border-radius: 10rem;
        cursor: pointer;
        font-size: 1.5rem;
        overflow: hidden;
        padding: 1.2rem;
        width: 238px;
        margin-top: 50px;
        position: relative;
        box-shadow: 4px 4px 2px lightgrey;

    }

    .btnExplorer:hover
    {
        box-shadow: 4px 4px 2px rgb(121, 119, 119);
        transition: 300ms;
    }

    .bouttonExplorer
    {
        display: flex;
        justify-content: center;
    }

    span
    {
        margin-left: 55px;
    }

     /*Footer*/

     footer 
     {
        background-color: #353535;
        margin-top: 50px;
     }
 
     footer h5
     {
         font-family: 'Shrikhand', cursive;
         color: white;
         margin-left: 10px;
         padding: 19px;
         font-size: x-large;
     }
 
     ul
     {
         color: white;
         font-size: large;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         padding: 1rem;
         list-style: none;
     }
 
     .margePhrases
     {
         margin-left: 15px;
     }
 
     li
     {
         display: flex;
     }
 
     footer p
     {
         margin-left: 14px;
     }
 
     .margeFoot
     {
         margin-left: 7px;
     }

     @keyframes apparition 
     {
        100%
        {
            opacity: 1;
            transform: none;
        }
     }      
}




/*Deuxième partie */



@media all and (min-width: 800px)
{
    /*header et titre*/
   
    header
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 66%;
    }


    .logoMyFood img
    {
        height: 37px;
        width: 90%;
        padding: 1rem;
    }

    .fa-arrow-left
    {
        font-size: x-large;
        color: black;
    }

    /* La photo de présentation*/

    section img
    {
        width: 78%;
        margin-left:69px;
        height: 500px;
        border-radius: 30px 30px 0 0;
        object-fit: cover;
    }

    /* La carte des menus*/

    .solidProgress
    {
        border-bottom: 2px solid #99e2d0 ;
        animation: solidbar 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    }

    @keyframes solidbar
    {
        0%{width: 0%;}
        100%{width: 10%;}
    }


    .absolute
    {
        background-color: #f6f6f6;
        border-radius: 40px;
        margin-top: -56px;
        position: absolute;
        width: 79%;
        margin-left: 62px;
    }

    
    .absolute h2
    {
        margin-top: 23px;
        margin-left: 5px;
        font-size: xx-large;
        font-family: 'Shrikhand', cursive;
    }

    .heartPlace
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .fa-heart
    {
        font-size: 27px;
        width: 50px;
        margin-top: 20px;
    }

    .fa-heart:hover
    {
        background: linear-gradient(#9356DC,#FF79DA);
        font-weight: bold;
        background-clip: text;
        -webkit-background-clip: text;
        transition: 1s;
        color: transparent;
    }

   

    article p
    {
        margin-left: 5px;
    }


    strong
    {
        margin-right: 16px;
    }


    .entreeProposition
    {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 65%;
        padding: 1rem;
        margin-top: 15px;
        margin-left: 11px;
        border-radius: 17px;
        box-shadow: .30rem .30rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        opacity: 0;
    }

    
    .lesEntrees > .entreeProposition:nth-child(1)
    {
        transform: translateY(30px);
        animation: apparition 0.3s 1.6s ease-out forwards;
    }

    .lesEntrees > .entreeProposition:nth-child(2)
    {
        transform: translateY(30px);
        animation: apparition 0.6s 1.6s ease-out forwards;
    }

    .lesEntrees > .entreeProposition:nth-child(3)
    {
        transform: translateY(30px);
        animation: apparition 0.9s 1.6s ease-out forwards;
    }




    aside h4
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 3px;
    }

    
    aside p
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: -6px;
    }
    

    aside
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    

    .entreeProposition:hover i
    {
        transform: rotateZ(360deg);
        transition: transform 600ms;
        width: 0;
        display: flex;
    }

    .entreeProposition i
    {
        width: 0;
        display: flex;
    }

    .entreeProposition:hover .transformation
    {
        transition: all 0.4s ease-in-out;
        margin-right: -2rem;
        width: 8%;
    }

    .entreeProposition .transformation
    {
        transition: all 0.4s ease-in-out;
    }

    aside h4
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 3px;
    }

    
    aside p
    {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: -6px;
    }
    

    aside
    {
        width: 100%;
    }

    .price
    {
        width: 20%
    }

    .entreeProposition aside h4
    {
        width: 270px;
    }

    .entreeProposition aside p
    {
        width: 270px;
        margin-left: 0;
    }

    .entreeProposition:hover aside h4
    {
        width: 180px;
    }

    .entreeProposition:hover aside p
    {
        width: 180px;
    }
    
    .entreeProposition:hover i
    {
        transform: rotateZ(360deg);
        transition: transform 600ms;
        width: 0;
        display: flex;
    }

    .entreeProposition i
    {
        width: 0;
        display: flex;
    }


   
    .transformation
    {
        background-color: #99e2d0;
        padding: 1.8rem;
        margin-right: -115px;
        border-radius: 0 1rem 1rem 0;
    }

    

   
    .fa-check
    {
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #99e2d0;
        margin-left: -15px;
        overflow: hidden;
        border-radius: 50%;
        padding: 0.9rem;
        aspect-ratio: 1;    
    }

    
    #laCarte
    {
        margin-top: 40px;
        margin-left: 16%;
        width: 92%;
    }

    
    /*boutton commander*/

    .btnExplorer {
        background:linear-gradient(#9356DC,#FF79DA);
        color: white;
        border-radius: 10rem;
        cursor: pointer;
        font-size: 1.5rem;
        overflow: hidden;
        padding: 1.2rem;
        width: 238px;
        margin-top: 50px;
        position: relative;
        box-shadow: 4px 4px 2px lightgrey;
        margin-left: 18%;

    }

    .btnExplorer:hover
    {
        box-shadow: 4px 4px 2px rgb(121, 119, 119);
        transition: 300ms;
    }

    .bouttonExplorer
    {
        display: flex;
        margin-left: 12%;
    }

    span
    {
        margin-left: 55px;
    }

     /*Footer*/

     footer 
     {
        background-color: #353535;
        margin-top: 50px;
     }
 
     footer h5
     {
         font-family: 'Shrikhand', cursive;
         color: white;
         margin-left: 10px;
         padding: 19px;
         font-size: x-large;
     }
 
     ul
     {
         color: white;
         font-size: large;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         padding: 1rem;
         list-style: none;
     }
 
     .margePhrases
     {
         margin-left: 15px;
     }
 
     li
     {
         display: flex;
     }
 
     footer p
     {
         margin-left: 14px;
     }
 
     .margeFoot
     {
         margin-left: 7px;
     }

     @keyframes apparition 
     {
        100%
        {
            opacity: 1;
            transform: none;
        }
     }
}